<%= render "layouts/flash"%>

<% if can? :manage, @user => User %> 
  
  <center>
    <h1>Admin Page</h1>
    <p>You are admin and you can manage the users</p>
  </center>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Manager ID</th>
        <th scope="col">Manager Name</th>
        <th scope="col">Manager Contact</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Role Id</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @managers.each do|manager|%>
      <tr>
        <th scope="row"><%=manager.id%></th>
        <td><%=manager.full_name%></td>
        <td><%=manager.contact%></td>
        <td><%=manager.email%></td>
        <td><%=manager.password%></td>
        <td><%=manager.gender%></td>
        <td><%=manager.age%></td>
        <td><%=manager.role_id%></td>
        <td>
          <%= link_to "Status", new_user_registration_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" }%>     
          <%= render "remote_modal", title: "New item" %>
   
        </td>
        <td>
          <%= link_to "Approve", change_status_user_path(manager.id, status: "Approve"), class:"btn btn-success btn-sm"%>
          <%= link_to "Rejected", change_status_user_path(manager.id, status: "Reject"), class:"btn btn-danger btn-sm"%>
                
        </td>
      </tr>
      <% end%>
    </tbody>
  </table>

  <%else%>
  
  <center>
    <h1>Bus Ticketing System</h1>
    <p>Here you can register yourself and then book a reservation</p>
  </center>

<% end %>



