<h1>Show information</h1>
<%= image_tag(@user.avatar) %>
<ul>
	<li>
		Full Name: <%= @user.full_name %>
	</li>
	<li>
		Email: <%= @user.email %>
	</li>
	<li>
		Password: <%= @user.password %>
	</li>
	<li>
		Age: <%= @user.age %>
	</li>
	<li>
		Gender: <%= @user.gender %>
	</li>
	<li>
		Contact number :<%= @user.contact %>
	</li>
	<li>
		Role: <%= @user.role_id %>
	</li>
	<li>
		Status: <%= @user.status %>
	</li>
	<li>
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Status</button>
	</li>
</ul>
<%= link_to "Edit information", edit_user_path(@user.id),class: "btn btn-secondary" %>
<%= link_to "Delete", user_path(@user.id), data: {turbo_method: :delete,turbo_confirm: :"Are you sure?"}, class: "btn btn-secondary" %>
<%= link_to "Back", :back, class: "btn btn-secondary" %>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 99999999999;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Change Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% User::STATUSES.each do |status| %>
          <%= link_to change_status_user_path(@user, status: status), turbo_method: :patch do %>
            <button class="btn btn-primary"><%= status %></button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>