<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Ticket is confirmed,</h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%=  %>.<br>
    </p>
    <ul>
     <% @ticket.passenger_informations.each do|passenger| %>
      <li><%= passenger.id %></li>
      <li><%= passenger.passenger_name %></li>
      <li><%= passenger.passenger_age %></li>
      <li><%= passenger.passenger_contact %></li>
      <li><%= passenger.ticket_id %></li>
      <li><%= passenger.created_at %></li>
      <li><%= passenger.seat %></li>
      <li><%= passenger.updated_at %></li>
     <%end%>
   </ul>
   <% @price = @ticket.price %>
   <p>Price:<%= @price * @passenger %>
     
   </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
