<%= simple_form_for ticket do |form| %>

  <div>
    <%= form.label :bus_id %><br>
    <%=form.text_field :bus_id%>
  </div>

  <div>
    <%= form.label :number_of_passenger %><br>
    <%=form.number_field :number_of_passenger%>
  </div>
  
  <div>
    <%= form.label :price %><br>
    <%=form.number_field :price%>
  </div>
  
  <h3>Passangers</h3>
  <div id="passenger_informations">
    <%= form.simple_fields_for :passenger_informations do |passenger_information|%>
      <%= render 'passenger_information_fields', f: passenger_information%>
    <%end%>
    <div class="links">
      <%= link_to_add_association 'Add Passenger',form, :passenger_informations %>
    </div>
  
  <div>
    <%= form.submit %>
  </div>


<% end %>

