
<div class="card">  
<h1>Ticket Information</h1>
Ticket ID: <%= @ticket.id%><br>

Price : Rs. <%=@ticket.price%><br>

User ID: <%= @ticket.user_id%><br>

Bus ID: <%= @ticket.bus_id%><br>

<br>
<h5>Passenger's Information</h5><br>
Number of passengers: <%= @ticket.number_of_passenger%><br>

<%@information.each do |pi|%>
------------------
<br>
Id:<%= pi.id%><br>
Seat: <%= pi.seat%><br>
Name: <%= pi.passenger_name%><br>
Age: <%= pi.passenger_age%><br> 
Contact: <%= pi.passenger_contact%><br>
<%end%>



</div>
<br>  
<%= link_to "Edit information", edit_ticket_path(@ticket.id),class: "btn btn-secondary" %>
<%= link_to "Delete", ticket_path(@ticket.id), data: {turbo_method: :delete,turbo_confirm: :"Are you sure?"}, class: "btn btn-secondary" %>
<%= link_to "Back", :back, class: "btn btn-secondary" %>
<br>
<div>
  <h2>Please Provice valuable your feedback</h2>
  
</div>