<h1>Show Bus information</h1>
<ul>
  <li>
    Bus Number: <%= @bus.bus_number %>
  </li>
  <li>
    Bus Type: <%= @bus.bus_type %>
  </li>
  <li>
    Source: <%= @bus.source %>
  </li>
  <li>
    Destination: <%= @bus.destination %>
  </li>
  <li>
    Date: <%= @bus.date %>
  </li>
  <li>
    Time :<%= @bus.time %>
  </li>
  
</ul>
<%= link_to "Edit information", edit_bus_path(@bus.id),class: "btn btn-secondary" %>
<%= link_to "Delete", bus_path(@bus.id), data: {turbo_method: :delete,turbo_confirm: :"Are you sure?"}, class: "btn btn-secondary" %>
<%= link_to "Back", :back, class: "btn btn-secondary"%>
 


<h2>Reviews</h2>

<%@ticket.map{|r| r.reviews}.each do|re|%>
  <% re.each do|review|%>
    Comments: <%=review.comment%><br>
  <%end%>
<%end%>

