<!DOCTYPE html>
<html>
  <head>
    <title>TicketingSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
        <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to "Home", root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= link_to "Buses", buses_path, class: "nav-link active"%>
          </div>
        </div>

        <% if user_signed_in? %>
          Signed in as &nbsp; <strong><%= current_user.email %></strong>. Not you?

          <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-outline-secondary btn-sm mx-1" %>
          <%= link_to "Sign out", destroy_user_session_path,  data: {turbo_method: :delete,turbo_confirm: :"Are you sure?"}, class: "btn btn-outline-danger btn-sm mx-1"  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary btn-sm mx-1" %> 
          <%= link_to "sign in", new_user_session_path, class: "btn btn-outline-primary btn-sm mx-1" %>
        <% end %>
      </div>
    </nav>
    
    <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        
    <%= yield %>

    <%= turbo_frame_tag "remote_modal", target: "_top" %>
      
  </body>
</html>
